
.imagenes{
   
    display: grid;
    background-color: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    text-align: center;
    margin:50px;
    justify-content: center;
    width: 200px;
}

.detalle{
    display: grid;
    background-color: pink;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    text-align: center;
    margin:50px;
    justify-content: center;
    width: 200px;
}

.lista{
    display: grid;
    justify-content: center;
}